.items-container {
    display: flex;
    flex-direction: column;
}

.item-wrap {
    box-shadow: 1px 1px 10px rgba(0,0,0,.5);
    display: flex;
    flex-direction: space-between;
    justify-content: space-around;
    color: white;
    align-items: center;
}