

img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: .5s;
}

img:hover {
    opacity: 0.5;
}

.inner-card {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    width: 200px;
    height: 250px;
    transition: .5s; 
    cursor: pointer;
}
.purchase-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: gray;
   border-radius: 10px;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    color: white;

}

.purchase-container span {
    margin-right: 15px;
}
.add-button {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: beige;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    cursor: pointer;
    width: 40px;
    height: 40px;

}

.add-button:hover {
    opacity: 0.5;
}
.bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: whitesmoke;
    width: 100%;
    height: 52px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.outer-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 50px;
    margin-top: 50px;
}

.card:hover {
    box-shadow: none;
    opacity: 0.5;
}

.container {
    height: 100vh;
}